[submodule "zsh-scripts/.cache/powerlevel10k"]
	path = zsh-scripts/.cache/powerlevel10k
[submodule "zsh-scripts/.cache/oh-my-zsh"]
	path = zsh-scripts/.cache/oh-my-zsh
[submodule "zsh-scripts/.cache/zsh-completions"]
	path = zsh-scripts/.cache/zsh-completions
[submodule "zsh-scripts/.cache/zsh-autosuggestions"]
	path = zsh-scripts/.cache/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-scripts/.cache/zsh-syntax-highlighting"]
	path = zsh-scripts/.cache/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
