*.swp
*.un~
viminfo
zsh/.config/cody-ai/
zsh/.config/vscode-dev-containers/
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zsh_history
neovim/.local/state/nvim/shada/main.shada
neovim/.local/state/nvim/log
neovim/.local/share/*
neovim/.local/state/nvim/*
zsh/.local/state/*
